@font-face {
  font-family: Pizza;
  src: url(Fonts/hotpizza.ttf);
}
.App {
  text-align: center;
  transition: 0.4s ease-in-out;
}
.App h1, h2, h3 span{
  font-family: Pizza;
  letter-spacing: 1px;
}
.App p, li{
  font-family: 'poppins', serif;
  letter-spacing: 0.6px;
}
